---
const { title } = Astro.props;
---

<div class="bg-cerise py-1 h-16 flex items-center">
  <h1
    class="tablet:tracking-wide tablet:text-5xl laptop:text-5xl desktop:text-5xl laptop:tracking-normal cursor-default text-[2.4rem]"
  >
    {title}
  </h1>
</div>
