---
const { title, date, category } = Astro.props;
import { DateTime } from "luxon";
import { Today, Label } from "@/assets/icons/Icons";
let pubDate = DateTime.fromJSDate(date).toLocaleString(
  DateTime.DATE_MED_WITH_WEEKDAY
);
---

<div class="bg-cerise mb-1 flex flex-col h-32 justify-center px-8">
  <h1
    class="tablet:tracking-wide tablet:text-5xl laptop:text-5xl desktop:text-5xl laptop:tracking-normal cursor-default text-[2.4rem]"
  >
    {title}
  </h1>
  <div class="flex gap-6">
    <div class="flex gap-1 items-center">
      <Today client:only classes="size-[1.3rem]" />
      <p class="capitalize">{pubDate}</p>
    </div>
    <div class="flex gap-1 items-center">
      <Label client:only classes="size-[1.7rem]" />
      <p>{category}</p>
    </div>
  </div>
</div>
