---
import MainLayout from "./MainLayout.astro";
---

<MainLayout title="Caracolaracol | Blog">
  <main class="w-full font-tommyMedium">
    <div class="mb-8 pr-3 tablet:pr-0">
      <slot />
    </div>
  </main>
</MainLayout>
