---
import { POSTS } from "@/config/posts";
import MainLayout from "@/layouts/MainLayout.astro";

export async function getStaticPaths() {
  return [...POSTS.Apps, ...POSTS.Web, ...POSTS.Art, ...POSTS.Videos].map(
    ({ link }) => {
      return {
        params: {
          post: link,
        },
      };
    }
  );
}

const { post } = Astro.params;
let a = Astro.url;
---

<MainLayout title="Caracolaracol | Portfolio">
  <div>{post}!</div>
</MainLayout>
